.containerContadores {
	position: absolute;
	width: 300px;
	left: 162px;

	animation: entradaElemento 0.5s ease-in-out;
}

#countActual {
	transition: all 1s ease-out;
}

#countRestante,
#countActual,
#countTotal {
	font-weight: bold;
}

#wrapper {
	width: 294px !important;
}

.animarTexto {
	animation: entradaElemento 0.5s ease-in-out;
}

/* Otros estilos*/
.buttons {
	input:nth-child(2) {
		margin: 0 8px !important;
	}
}

.bnt-transfer {
	outline: none;
	cursor: pointer;
	border: none;
	padding: 0.7rem 1.2rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
	letter-spacing: 0.05rem;
	font-weight: 700;
	font-size: 17px;
	border-radius: 500px;
	overflow: hidden;
	background: #fff;
	color: ghostwhite;

	border: 1px solid #000;
	width: 122px;
	align-self: center;
	margin-top: 16px;

	animation: entradaElemento 0.5s ease-in-out;
}

.bnt-transfer span {
	position: relative;
	z-index: 10;
	transition: color 0.4s;
}

.bnt-transfer:hover span {
	color: black;
}

.bnt-transfer::before,
.bnt-transfer::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.bnt-transfer::before {
	content: '';
	background: #000;
	width: 120%;
	left: -10%;
	transform: skew(30deg);
	transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.bnt-transfer:hover::before {
	transform: translate3d(100%, 0, 0);
}

.bnt-transfer:active {
	opacity: 0.5;
}

.bnt-transfer:focus {
	border: 2px solid #6800ff;
}

.bnt-transfer:disabled {
	opacity: 0.7;
}


@keyframes entradaElemento {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.insertar:hover {
	transform: scale(1.1);
}
.divFinal {
	position: absolute;
	top: 56px;
	left: 461px;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.insertar {
	width: 72px;
	height: 30px;
}
.textoInput {
	height: 30px;
	margin-bottom: 12px;
	text-align: center;
}

.color {
	background-color: #000000;
	color: white;
}
.ocultar {
	opacity: 1;
}
.divFinal > p {
	font-size: 0.8rem;
}
.divFinal > p span {
	font-weight: bold;
}

#countRestante {
	width: 30px;
}

.container {
	position: absolute;
	width: 300px;
	right: 87px;
	top: 60px;

	display: flex;
	flex-direction: column;
}

.container,
.textarea {
	transition: opacity 0.5s ease;
}

.dockTransfer-button {
	height: min-content;
	width: min-content;
	cursor: pointer;
	align-self: flex-end;
	margin-bottom: 20px;
}

.dockTransfer-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #000;
	border-radius: 4.5rem;
	background-color: rgba(0, 0, 0, 1);
	padding: 0rem 1.1rem;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	outline: 0;
	transition: all 0.2s ease;
	text-decoration: none;
}

.dockTransfer-button:hover {
	background-color: transparent;
	color: rgba(0, 0, 0, 1);

	& .icon:hover {
		color: #000;
	}
}
.icon {
	color: #fff;
}


.hidden {
	display: none;
}
