.collapsepane.nav.navbar-nav li {
	--balloon-color: #fff;
	--balloon-bg-color: #487cc9;
	--ballon-padding: 0.8em;

	[aria-label][data-balloon-pos][data-balloon-pos="right"]:before {
		border-right-color: var(--balloon-color);
	}

	[aria-label][data-balloon-pos][data-balloon-pos^="down"]:before {
		border-bottom-color: var(--balloon-color);
	}

	[aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
		border-left-color: var(--balloon-color);
	}

	[aria-label][data-balloon-pos][data-balloon-pos="up"]:before {
		border-top-color: var(--balloon-color);
	}

	[aria-label][data-balloon-pos]:after {
		background-color: var(--balloon-bg-color);
		padding-top: var(--ballon-padding);
		padding-bottom: var(--ballon-padding);
	}

	a:hover {
		cursor: pointer;

		i {
			transform: scale(1.1);
		}
	}

	#deleteDataIcono {
		color: red;
	}

	&.save-data-active i#saveDataIcono {
		color: red !important;
	}

	&.disabled {
		a {
			pointer-events: none;
			background-color: initial;
			color: initial;
			opacity: 0.72;
		}

		i#deleteDataIcono {
			pointer-events: none;
			opacity: 0.72;
		}
	}

	&.delete-data-active i#deleteDataIcono {
		pointer-events: initial;
	}
}

/* The Modal (background) */
.modal-container {
	.modal {
		display: none;
		position: fixed;
		z-index: 1040;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.7);
	}

	/* Modal Content/Box */
	.modal-content {
		background-color: #fefefe;
		margin: 100px auto;
		padding: 20px;
		border: 1px solid #888;
		border-radius: 0.75em;
		width: 80%;
		width: fit-content;

		.print-button-modal {
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 50%;
			border: none;
			background-color: transparent;

			.far {
				font-size: 22px;
				color: rgb(24, 49, 83);
			}
		}

		.container-group {
			position: absolute;
			top: 0;
			left: 50%;

			display: flex;
			column-gap: 8px;

			.copy-table {
				border-radius: 50%;
				border: none;
				background-color: rgb(24, 49, 83);
				color: #fff;
			}

			button:hover,
			button:focus {
				background-color: rgb(224, 49, 49);
				opacity: 1;
			}

			.row-counter {
				background-color: rgb(24, 49, 83);
				color: #fff;
				border-radius: 4px;
				padding: 1px 4px;
			}
		}

		button:active {
			transform: scale(0.9);
		}

		button.print-button-modal:hover,
		button.print-button-modal:focus {
			i {
				color: rgb(224, 49, 49);
			}
		}
	}
}

/* Table */
.modal-container {
	table {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
			"Open Sans", "Helvetica Neue", sans-serif;
		border: 1px solid;
		border-collapse: collapse;
		font-size: 18px;

		margin-top: 10px;
	}

	table tr {
		position: relative;
	}

	table tr td,
	table tr th {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	th,
	td {
		text-align: left;
		vertical-align: top;
		border: 1px solid #000;
		padding: 0.3em;

		.input-text {
			width: 100%;
			height: 100%;
			border: none;
			padding-block: 6px;
		}

		.input-text:focus {
			outline-width: 2px !important;
			outline-color: blue !important;
			outline-style: solid !important;
			outline-offset: 4px !important;
		}
	}

	thead th {
		background-color: #bebebe;

		&,
		.value {
			cursor: move;
		}

		button {
			float: right;
			border-radius: 50%;
			border: none;
			background-color: transparent;
			color: rgb(24, 49, 83);
		}

		button:hover {
			scale: 1.1;
			color: #94a639;
		}
	}

	table a {
		text-decoration: none;
		color: inherit;
	}

	table tbody tr:hover > td .delete-row::before {
		content: "\e676";

		font-family: jquery-ui !important;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		display: block;
		height: 1em;
		line-height: 1;
		margin-left: -0.5em;
		margin-top: -0.5em;
		position: absolute;
		text-indent: 0;
		width: 1em;
		color: #888888;
		font-size: 12px;
		cursor: pointer;
		font: normal normal normal 14px / 16px jquery-ui, sans-serif;
		text-transform: none;

		right: 2px;
		top: 8px;
	}

	.ocultar {
		display: none;
	}

	.ui-state-active,
	.ui-widget-content .ui-state-active,
	.ui-widget-header .ui-state-active {
		background-color: transparent !important;
		color: #000 !important;
		border-color: #000 !important;
	}

	.item-exist {
		background-color: chartreuse;
	}
}

/* Table */
.modal-container table {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	border: 1px solid;
	border-collapse: collapse;
	font-size: 18px;

	margin-top: 10px;

	tr {
		position: relative;
	}

	tr td,
	tr th {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	th,
	td {
		text-align: left;
		vertical-align: top;
		border: 1px solid #000;
		padding: 0.3em;
	}

	.ocultar {
		display: none;
	}
}

.modal-container button.close {
	--white: #fff;
	--width-button-close: 30px;
	--with-close-times-color: var(--white);
	--bg-color: rgb(24, 49, 83);

	--fa-primary-color: var(--with-close-times-color);
	--fa-secondary-color: rgb(24, 49, 83);
	--fa-secondary-opacity: 1;

	font-size: 30px;
	width: var(--width-button-close);
	height: var(--width-button-close);

	box-sizing: content-box;
	position: absolute;
	top: -0.5em;
	right: -0.5em;
	line-height: 1;
	color: inherit;
	color: var(--with-close-close-color);
	font-size: calc(1em * 1.5);
	font-size: var(--with-close-close-font-size);

	opacity: 1;

	sgv {
		width: var(--width-button-close);
		height: var(--width-button-close);
	}

	.fa-primary {
		fill: var(--fa-primary-color, currentColor);
		opacity: var(--fa-primary-opacity, 1);
	}

	.fa-secondary {
		fill: var(--fa-secondary-color, currentColor);
		opacity: var(--fa-secondary-opacity, 0.4);
	}

	&:hover,
	&:hover .fa-secondary,
	&:focus {
		text-decoration: none;
		cursor: pointer;
		color: rgb(224, 49, 49);
		opacity: 1;
		fill: rgb(224, 49, 49);
	}

	&:is(:focus, .focus, .focused) {
		--focus-outline-width: calc(1em * 3 / 16);
		--focus-outline-color: #74c0fc;
		--focus-outline: solid var(--focus-outline-width) var(--focus-outline-color);
		outline: var(--focus-outline);
		outline-offset: calc(1em * 1 / 16);
		outline-offset: var(--focus-outline-offset);
	}
}
