.collapsepane.nav.navbar-nav li {
	--balloon-color: #fff;
	--balloon-bg-color: #487cc9;
	--ballon-padding: 0.8em;

	[aria-label][data-balloon-pos][data-balloon-pos='right']:before {
		border-right-color: var(--balloon-color);
	}

	[aria-label][data-balloon-pos][data-balloon-pos^='down']:before {
		border-bottom-color: var(--balloon-color);
	}

	[aria-label][data-balloon-pos][data-balloon-pos='left']:before {
		border-left-color: var(--balloon-color);
	}

	[aria-label][data-balloon-pos][data-balloon-pos='up']:before {
		border-top-color: var(--balloon-color);
	}

	[aria-label][data-balloon-pos]:after {
		background-color: var(--balloon-bg-color);
		padding-top: var(--ballon-padding);
		padding-bottom: var(--ballon-padding);
	}

	a:hover {
		cursor: pointer;

		i {
			transform: scale(1.1);
		}
	}

	#deleteDataIcono {
		color: red;
	}

	&.save-data-active i {
		color: red !important;
	}

	&.disabled {
		a {
			pointer-events: none;
			background-color: initial;
			color: initial;
			opacity: 0.72;
		}

		i {
			pointer-events: none;
			opacity: 0.72;
		}
	}

	&.delete-data-active i {
		pointer-events: initial;
	}

	&.delete-data-active a {
		animation: bounce-personalizado 1.2s cubic-bezier(0.25, 0.8, 0.5, 1) infinite;
	}
}

@keyframes bounce-personalizado {
	0%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-12%);
	}

	60% {
		transform: translateY(0);
	}

	75% {
		transform: translateY(-6%);
	}
}


.custom-dialog-overlay {
	position: fixed;
	inset: initial;
	right: 50%;
	left: 50%;
	top: 50px;
	transform: translateX(-50%);

	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;

	svg {
		vertical-align: bottom;
	}

	.custom-content-dialog {
		background: #fff;
		padding: 20px;
		border-radius: 8px;
		min-width: 300px;
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.btn-dialog {
		padding: 8px 16px;
		border: 1px solid #ccc;
		border-radius: 4px;
		cursor: pointer;

		&.btn-confirm {
			background:#007bff;
			color: #fff;
			border: none;
			border-radius: 4px;
		}
	}
}
