table tr td,
table tr th {
  display: none;
}

table
  tr
  :is(
    td[aria-describedby='ListPaneDataGrid_SHIPMENT_ID'],
    td[aria-describedby='ListPaneDataGrid_PARENT_CONTAINER_ID'],
    td[aria-describedby='ListPaneDataGrid_QUANTITY'],
    td[aria-describedby='ListPaneDataGrid_ITEM'],
    td[aria-describedby='ListPaneDataGrid_ITEM_DESC']
  ) {
  display: table-cell;
}

@media print {
  @page {
    size: letter landscape;
  }
}
