#packingdetailkoGrid > tbody {
  td {
    .input-text {
      background-color: transparent;
      color: #000 !important;
      border: none;
      width: 100%;
      height: 100%;
      padding-block: 5px;
    }

    .input-text:focus {
      outline-width: 2px !important;
      outline-color: blue !important;
      outline-style: solid !important;
      outline-offset: 4px !important;
    }
  }
}
