.my-botton-save {
  position: absolute !important;
  height: 35px !important;
  border: 1px solid #bcbcbc;

  & a#NewWaveActionSave {
    padding-top: 0.35rem !important;
    height: 33px !important;
  }

  & a#NewWaveActionSave:hover {
    background-color: #a233c1;
    height: 33px !important;
    color: #fff;
  }
}

.nav > li.disabled {
  background-color: #494e53;
}
.nav > li.disabled > a#NewWaveActionSave {
  background-color: transparent;
}

/* Reducir spaciado */
#GridPlaceHolder {
  min-height: 20px;
}

#WaveFlowGrid
  > tbody
  tr:not(
    tr[data-id='2168485273'],
    tr[data-id='655614933'],
    tr[data-id='1155736963'],
    tr[data-id='1265266259']
  ) {
  display: none;
}

#WaveFlowGrid > tbody tr td {
  padding: 1rem;
}
