* {
	box-sizing: border-box;
}

:root {
	--width-form: 500px;
	--height-form: 180px;

	--width-form-transfer: 700px;
	--width-form-adjustment: 560px;
}

body {
	margin: 0;
}

/* Global */
.containerForm {
	margin: 24px 16px 0;
}

.registroForm {
	grid-column: 1;
	grid-row: 1;
	justify-self: start;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 16px;

	width: var(--width-form);

	height: 100%;

	& div {
		margin: 0 auto;
	}

	& button#insertData {
		align-self: center;
		width: 90px;
		cursor: pointer;
		font-size: 16px;
		padding: 10px;
		text-align: center;
		background-color: #0dd406;

		&:hover {
			background-color: #0dd406d6;
		}

		&:active {
			background-color: #0dd406bf;
		}
	}

	button[pause-active="on"] {
		border-color: red;
		font-weight: bold;
	}

	.inputGroup {
		position: relative;
		width: 100%;

		.textarea {
			padding: 4px 8px;
			display: block;
			width: 100%;
			outline: none;
			border: 2px solid rgb(200, 200, 200);
			border-radius: 8px;
			font-size: 15px;
			text-transform: uppercase;
		}

		label {
			padding: 8px 8px;
			font-size: 16px;
			position: absolute;
			left: 0;
			top: 0;
			pointer-events: none;
			transition: all 0.25s ease;
			color: rgb(100, 100, 100);

			width: 100%;
			display: flex;
			justify-content: space-between;
		}

		& :is(.textarea:focus, .textarea:focus-visible, .textarea:valid) ~ label {
			transform: translateY(-50%) scale(0.9);
			margin: 0;
			padding: 0;
			background-color: #fff;
		}

		& :is(.textarea:focus, .textarea:focus-visible, .textarea:valid) {
			border-color: rgb(150, 150, 200);
			padding-top: 14px;
		}
	}
}

[data-bs-theme="dark"] .inputGroup :is(.textarea:focus, .textarea:focus-visible, .textarea:valid) ~ label {
	background-color: rgb(13, 17, 23);
}

/* ============= */
/* Transferencia Manual */
.containerForm.transfer {
	width: var(--width-form-transfer);
}

/** Otros estilos */
#table1 > tbody > tr:nth-child(10) > td {
	padding: 12px 0 0 46px;
}

/* ============= */

/*Ajuste Positivo  */
.containerForm.adjustment {
	width: var(--width-form-adjustment);
}

/** Otros estilos */
#table1 > tbody > tr:nth-child(9) > td {
	padding: 12px 0 0 19px;
}

.contadores-container {
	position: fixed;
	bottom: 0;
	width: 200px;
	font-size: 1.12rem;
	left: 16px;

	spam {
		font-weight: bold;
		padding-left: 4px;
	}
}
	
 #customInventoryLayout {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
    width: 100%;
  }

  #inventoryManagementRfWrapper {
    grid-column: 2;
    width: auto;

		table {
			margin: 0 auto;
		}

		h3 {
			text-align: center;
		}
  }


  @media (max-width: 800px) {
    #customInventoryLayout {
      grid-template-columns: 1fr;
    }

    #inventoryManagementRfWrapper {
      grid-column: 1;
      grid-row: 1;
      justify-self: center;
    }

    #registroForm {
      grid-column: 1;
      grid-row: 2;
      justify-self: center;
      margin-right: 0;
      margin-top: 20px;
    }
  }

	@media (max-width: 1080px) {
		body.inventory-transfer #customInventoryLayout {
      grid-template-columns: 1fr;
    }

    body.inventory-transfer #inventoryManagementRfWrapper {
      grid-column: 1;
      grid-row: 1;
      justify-self: center;
    }

    body.inventory-transfer #registroForm {
      grid-column: 1;
      grid-row: 2;
      justify-self: center;
      margin-right: 0;
      margin-top: 20px;
    }
	}
