#packingdetailkoGrid > tbody {
  td[aria-describedby='packingdetailkoGrid_AVAIL_QTY'] {
    color: red;
    font-weight: 600;
  }
}

.show-alert {
  opacity: 1 !important;
  display: flex !important;
}

.context-menu {
  display: none;
  position: absolute;
  border: 1px solid rgb(27, 27, 29);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 4px;
  background-color: rgb(27, 27, 29);
  color: #e4e2e3;
  font-size: 12px;
}

.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu li {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 24px;
  padding-left: 18px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #323234;
}

.toast-top-min-width {
  width: 24%;
  top: 12px;
  left: 50%;
  right: 50%;
}
.toast-bottom-min-width {
  width: 24%;
  bottom: 12px;
  left: 50%;
  right: 50%;
}

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width
  > div
  #toast-container.toast-top-min-width
  > div
  #toast-container.toast-bottom-min-width
  > div {
  margin-bottom: 1px !important;
}

#initPackingButton:disabled {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
  cursor: not-allowed !important;
}

#insertButtonAction.disabled {
  pointer-events: none !important;
  cursor: not-allowed !important;
  opacity: 0.6 !important;
}
