@import url('./balloon.css');
@import url('./hide.css');
@import url('./tooltip.css');

.collapsepane.nav.navbar-nav li {
  --balloon-color: #fff;
  --balloon-bg-color: #487cc9;
  --ballon-padding: 0.8em;

  [aria-label][data-balloon-pos][data-balloon-pos='right']:before {
    border-right-color: var(--balloon-color);
  }

  [aria-label][data-balloon-pos][data-balloon-pos^='down']:before {
    border-bottom-color: var(--balloon-color);
  }

  [aria-label][data-balloon-pos][data-balloon-pos='left']:before {
    border-left-color: var(--balloon-color);
  }

  [aria-label][data-balloon-pos][data-balloon-pos='up']:before {
    border-top-color: var(--balloon-color);
  }

  [aria-label][data-balloon-pos]:after {
    background-color: var(--balloon-bg-color);
    padding-top: var(--ballon-padding);
    padding-bottom: var(--ballon-padding);
  }

  a:hover {
    cursor: pointer;

    i {
      transform: scale(1.1);
    }
  }
}

/* The Modal (background) */
.modal-container {
  .modal {
    display: none;
    position: fixed;
    z-index: 1040;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 0.75em;
    width: 80%;
    width: fit-content;

    .copy-table {
      /* float: right; */
      border-radius: 4px;
      border: none;
      background-color: rgb(24, 49, 83);
      color: #fff;
    }

    .print-button-modal {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      border: none;
      background-color: transparent;

      .far {
        font-size: 22px;
        color: rgb(24, 49, 83);
      }
    }

    .container-group {
      position: absolute;
      width: max-content;
      top: 2px;
      left: 50%;
      right: 50%;
      transform: translateX(-50%);

      display: flex;
      column-gap: 8px;

      button {
        width: fit-content;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 400ms;
      }

      .insert-item, .insert-row {
        border-radius: 50%;
        border: none;
        background-color: rgb(24, 49, 83);
        color: #fff;
      }

      .copy-item {
        border-radius: 50%;
        border: none;
        background-color: rgb(24, 49, 83);
        color: #fff;
      }

      button:hover,
      button:focus {
        background-color: rgb(224, 49, 49);
        opacity: 1;
      }

      .row-counter {
        background-color: rgb(24, 49, 83);
        color: #fff;
        border-radius: 4px;
        padding: 1px 4px;
        height: 24px;
      }
    }

    button:active {
      transform: scale(0.9);
    }

    button.print-button-modal:hover,
    button.print-button-modal:focus {
      i {
        color: rgb(224, 49, 49);
      }
    }
  }
}

/* Table */
.modal-container {
  table {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid;
    border-collapse: collapse;
    font-size: 18px;

    margin-top: 10px;

    tr {
      position: relative;
    }

    th,
    td {
      text-align: left;
      vertical-align: top;
      border: 1px solid #000;
      padding: 0.3em;

      .input-text {
        width: 100%;
        height: 100%;
        border: none;
        padding-block: 6px;
      }

      .input-text:focus {
        outline-width: 2px !important;
        outline-color: blue !important;
        outline-style: solid !important;
        outline-offset: 4px !important;
      }
    }

    thead th {
      cursor: pointer;
      background-color: #bebebe;

      .ui-icon {
        color: rgb(51, 51, 51);
      }

      .ui-iggrid-indicatorcontainer {
        display: inline-block !important;
      }

      .ui-iggrid-headertext {
        cursor: pointer !important;
        display: block;
        line-height: 1.6em;
        float: left;
        width: calc(100% - 34px);
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    tbody tr:hover > td:nth-last-child(1) .delete-row::before {
      content: '\e676';

      font-family: jquery-ui !important;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      display: block;
      height: 1em;
      line-height: 1;
      margin-left: -0.5em;
      margin-top: -0.5em;
      position: absolute;
      text-indent: 0;
      width: 1em;
      color: #888888;
      font-size: 12px;
      cursor: pointer;
      font: normal normal normal 14px / 16px jquery-ui, sans-serif;
      text-transform: none;

      right: 2px;
      top: 8px;
    }

    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active {
      background-color: transparent !important;
      color: #000 !important;
      border-color: #000 !important;
    }

    .item-exist {
      background-color: chartreuse;
    }
  }
}

.modal-container-insert {
  .modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 0.75em;
    width: 80%;
    width: fit-content;
  }

  form.insertar-item {
    --bs-form-invalid-color: #dc3545;
    --bs-form-invalid-border-color: #dc3545;

    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 8px;

    .get-sentence {
      margin-left: 16px;
      border-radius: 4px;
      border: none;
      background-color: rgb(24, 49, 83);
      color: #fff;
      padding: 4px 6px;
    }

    & button {
      align-self: center;
      height: 36px;
    }

    & label {
      margin: 0;
      padding-top: 4px;
      font-size: 18px;
    }

    textarea {
      height: 120px;
    }

    .invalid-feedback {
      display: none;
      width: 100%;
      margin-top: 0.25rem;
      font-size: 0.875em;
      color: var(--bs-form-invalid-color);
    }

    .is-invalid {
      border-color: var(--bs-form-invalid-border-color);
      padding-right: calc(1.5em + 0.75rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }

    .is-invalid ~ .invalid-feedback,
    .is-invalid ~ .invalid-tooltip {
      display: block;
    }
  }

  .button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #007acc;
    outline: 3px #007acc solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }

  .button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
    margin: 0;
  }

  .button:hover {
    background-color: transparent;
  }

  .button:hover .text {
    color: #007acc;
  }

  .button:focus {
    outline-width: 2px !important;
    outline-color: #f70431 !important;
    outline-style: solid !important;
    outline-offset: -2px !important;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
}

.modal-container button.close,
.modal-container-insert button.close {
  --white: #fff;
  --width-button-close: 30px;
  --with-close-times-color: var(--white);
  --bg-color: rgb(24, 49, 83);

  --fa-primary-color: var(--with-close-times-color);
  --fa-secondary-color: rgb(24, 49, 83);
  --fa-secondary-opacity: 1;

  font-size: 30px;
  width: var(--width-button-close);
  height: var(--width-button-close);

  box-sizing: content-box;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  line-height: 1;
  color: inherit;
  color: var(--with-close-close-color);
  font-size: calc(1em * 1.5);
  font-size: var(--with-close-close-font-size);

  opacity: 1;

  sgv {
    width: var(--width-button-close);
    height: var(--width-button-close);
  }

  .fa-primary {
    fill: var(--fa-primary-color, currentColor);
    opacity: var(--fa-primary-opacity, 1);
  }

  .fa-secondary {
    fill: var(--fa-secondary-color, currentColor);
    opacity: var(--fa-secondary-opacity, 0.4);
  }

  &:hover,
  &:hover .fa-secondary,
  &:focus {
    text-decoration: none;
    cursor: pointer;
    color: rgb(224, 49, 49);
    opacity: 1;
    fill: rgb(224, 49, 49);
  }

  &:is(:focus, .focus, .focused) {
    --focus-outline-width: calc(1em * 3 / 16);
    --focus-outline-color: #74c0fc;
    --focus-outline: solid var(--focus-outline-width) var(--focus-outline-color);
    outline: var(--focus-outline);
    outline-offset: calc(1em * 1 / 16);
    outline-offset: var(--focus-outline-offset);
  }
}
